body {
    background-color: antiquewhite;
}

button{
    background-color: aqua;
}

label {
    font-size: large;
    border-color: black;
}

input {
    font-style: italic;
}

#myself {
    font-size: 80px;
    width: 350px;
    height: 200px;


}